version: "3.7"
services:
  v2-mainnet:
    image: toncenter/ton-http-api:mainnet
    volumes:
      - /usr/bin/ton/:/ton
    env_file:
      - v2.env
    environment:
      - TON_API_CACHE_ENABLED=1
      - TON_API_CACHE_REDIS_ENDPOINT=cache_redis
      - TON_API_CACHE_REDIS_PORT=6379
      - TON_API_CACHE_REDIS_TIMEOUT=1
      - TON_API_CACHE_ENABLED=0
      - TON_REPO=
      - TON_BRANCH=master
      - TON_API_TONLIB_LITESERVER_CONFIG=/ton/local.config.json    
    restart: unless-stopped
    command: -c "gunicorn -k uvicorn.workers.UvicornWorker -w 1 --bind 0.0.0.0:8081 ${TON_API_GUNICORN_FLAGS} pyTON.main:app"
    depends_on:
      - cache_redis
    healthcheck:
      test: curl -sS http://127.0.0.1:8081${TON_API_ROOT_PATH}/healthcheck || echo 1
      interval: 15s
      timeout: 3s
      retries: 12
  v2-testnet:
    image: toncenter/ton-http-api:testnet
    volumes:
      - ./config:/config
    env_file:
      - v2.env
    environment:
      - TON_API_CACHE_ENABLED=0
      - TON_REPO=
      - TON_BRANCH=testnet
      - TON_API_TONLIB_LITESERVER_CONFIG=/config/global-testnet.json
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2gb
    restart: unless-stopped
    command: -c "gunicorn -k uvicorn.workers.UvicornWorker -w 1 --bind 0.0.0.0:8081 ${TON_API_GUNICORN_FLAGS} pyTON.main:app"
    healthcheck:
      test: curl -sS http://127.0.0.1:8081${TON_API_ROOT_PATH}/healthcheck || echo 1
      interval: 15s
      timeout: 3s
      retries: 12
  v4-mainnet:
    image: "orbsnetwork/ton-api-v4:v46"
    restart: unless-stopped
    environment:
      - TON_CONFIG=http://nginx/ton/local.config.json
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 500m
  v4-testnet:
    image: "orbsnetwork/ton-api-v4:v46"
    restart: unless-stopped
    environment:
      - TON_CONFIG=https://orbs-ton-gateway.s3.us-east-2.amazonaws.com/live-testnet.json
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 500m
  cache_redis:
    image: redis:alpine
    volumes:
      - type: bind
        source: ./redis/data
        target: /data
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2gb
  mngr:
    image: orbsnetwork/ton-access-mngr:v1.1.6
    healthcheck:
      test: curl -sS http://127.0.0.1:3000/health || echo 1
      interval: 15s
      timeout: 3s
      retries: 12
    env_file:
      - fastly.env
    environment:
      - CHECK_TESTNET=0
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 1gb
    depends_on:
      - v2-mainnet
      - v2-testnet
      - v4-mainnet
      - v4-testnet
  nginx:
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /usr/bin/ton/:/ton    
    restart: unless-stopped
    depends_on:
      - mngr
